<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/theme.css"
	      rel="stylesheet">
	
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
</head>

<body class="bg-gray-100 text-stone-700">

  <header class="p-4 bg-stone-500 flex flex-row">
    <div class="bg-fixed">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logos_white.png">
    </div>
  </header>

  
  <nav class="bg-stone-400">
    <div class="flex flex-row text-stone-700">
      {% for title, link in MENUITEMS %}
      <div>
	<a class="mainmenu" href="{{ link }}">{{ title }}</a>
      </div>
      {% endfor %}
      
      {% if DISPLAY_PAGES_ON_MENU %}
      {% for p in pages %}
      <div class="hover:bg-slate-600 hover:text-slate-50 py-2 px-4 {% if p == page %} bg-yellow-800 text-yellow-100{% endif %}">
	<a class="mainmenu" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
      </div>
      {% endfor %}
      {% endif %}

      
      {% if DISPLAY_CATEGORIES_ON_MENU %}
      {% for cat, null in categories %}
      <div{% if cat == category %} class="bg-red-400"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></div>
      {% endfor %}
      {% endif %}
    </div>
  </nav>
  
  <div class="p-8 flex flex-row bg-white">
  {% block content %}
  {% endblock %}
  </div>
  
  <footer class="bg-gray-100 text-center lg:text-left">
    {% if DISPLAY_PAGES_ON_MENU %}
    <div class="flex flex-col p-8 py-16">
      {% for p in pages %}
      <div>
	<a class="text-gray-400 text-sm" href="{{ SITEURL }}/{{ p.url }}">‣ {{ p.title }}</a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    


  </footer>

</body>
</html>
